<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
 <extension
       id="Apple II runners"
       point="com.wudsn.ide.lng.runners">
    <runner
          defaultCommandLine="${runnerExecutablePath} -d1 ${outputFilePathWithoutExtension}.dsk"
          hardware="APPLE2"
          homePageURL="https://github.com/AppleWin/AppleWin"
          id="applewin"
          name="%com.wudsn.ide.lng.run.apple2.applewin.name">
    </runner>
    <runner
          defaultCommandLine="java -jar ${runnerExecutablePath} -computer.s6card disk -s6.d1 ${outputFilePathWithoutExtension}.dsk"
          hardware="APPLE2"
          homePageURL="https://sites.google.com/site/brendanrobert/projects/jace"
          id="jace"
          name="%com.wudsn.ide.lng.run.apple2.jace.name">
    </runner>
    <runner
          defaultCommandLine="${runnerExecutablePath} ${outputFilePathWithoutExtension}.dsk"
          hardware="APPLE2"
          homePageURL="https://github.com/digital-jellyfish/Virtu"
          id="virtu"
          name="%com.wudsn.ide.lng.run.apple2.virtu.name">
    </runner>
    <runner
          defaultCommandLine="open ${runnerExecutablePath} ${outputFilePathWithoutExtension}.dsk"
          hardware="APPLE2"
          homePageURL="http://www.virtualii.com"
          id="virtualii"
          name="%com.wudsn.ide.lng.run.apple2.virtualii.name">
    </runner>
 </extension>

 <extension
       id="Atari 2600 runners"
       point="com.wudsn.ide.lng.runners">
    <runner
          defaultCommandLine="${runnerExecutablePath} ${outputFilePath}"
          hardware="ATARI2600"
          homePageURL="https://stella-emu.github.io"
          id="stella"
          name="%com.wudsn.ide.lng.run.atari2600.stella.name">
    </runner>
 </extension>

 <extension
       id="Atari 8-bit runners"
       point="com.wudsn.ide.lng.runners">
    <runner
          class="com.wudsn.ide.lng.run.atari8.Altirra"
          defaultCommandLine="${runnerExecutablePath} /singleinstance ${outputFilePath}"
          hardware="ATARI8BIT"
          homePageURL="https://www.virtualdub.org/altirra.html"
          id="altirra"
          name="%com.wudsn.ide.lng.run.atari8.altirra.name">
    </runner>
    <runner
          defaultCommandLine="xterm -iconic -e atari800 -run ${outputFilePath}"
          hardware="ATARI8BIT"
          homePageURL="https://atari800.github.io"
          id="atari800"
          name="%com.wudsn.ide.lng.run.atari8.atari800.name">
    </runner>
    <runner
          class="com.wudsn.ide.lng.run.atari8.Atari800Win"
          defaultCommandLine="${runnerExecutablePath} -run ${outputFilePath}"
          hardware="ATARI8BIT"
          homePageURL="http://a800win.atari-area.prv.pl"
          id="atari800_win"
          name="%com.wudsn.ide.lng.run.atari8.atari800_win.name">
    </runner>
    <runner
          defaultCommandLine="open -a ${runnerExecutablePath} ${outputFilePath}"
          hardware="ATARI8BIT"
          homePageURL="https://www.atarimac.com/atari800macx.php"
          id="atari800_macx"
          name="%com.wudsn.ide.lng.run.atari8.atari800_macx.name">
    </runner>
    <runner
          defaultCommandLine="${runnerExecutablePath} -image.1 ${outputFilePath}"
          hardware="ATARI8BIT"
          homePageURL="http://www.xl-project.com"
          id="atari_plus_plus"
          name="%com.wudsn.ide.lng.run.atari8.atari_plus_plus.name">
    </runner>
 </extension>

 <extension
       id="Atari7800 runners"
       point="com.wudsn.ide.lng.runners">
    <runner
          defaultCommandLine="${runnerExecutablePath} ${outputFilePath}"
          hardware="ATARI7800"
          homePageURL="https://emu7800.github.io/"
          id="emu7800"
          name="%com.wudsn.ide.lng.run.atari7800.emu7800.name">
    </runner>
 </extension>
 
 <extension
       id="C64 runners"
       point="com.wudsn.ide.lng.runners">
     <runner
           defaultCommandLine="${runnerExecutablePath} ${outputFilePath}"
           hardware="C64"
           homePageURL="http://www.ccs64.com"
           id="ccs64"
           name="%com.wudsn.ide.lng.run.c64.ccs64.name">
    </runner>
     <runner
           defaultCommandLine="${runnerExecutablePath} -autostart ${outputFilePath}"
           hardware="C64"
           homePageURL="https://vice-emu.sourceforge.io"
           id="vice"
           name="%com.wudsn.ide.lng.run.c64.vice.name">
     </runner>
    </extension>

 <extension
       id="NES runners"
       point="com.wudsn.ide.lng.runners">
    <runner
          defaultCommandLine="${runnerExecutablePath} ${outputFilePath}"
          hardware="NES"
          homePageURL="https://github.com/bsnes-emu/bsnes"
          id="bsnes"
          name="%com.wudsn.ide.lng.run.nes.bsnes.name">
    </runner>
    <runner
          defaultCommandLine="${runnerExecutablePath} ${outputFilePath}"
          hardware="NES"
          homePageURL="https://fceux.com"
          id="fceux"
          name="%com.wudsn.ide.lng.run.nes.fceux.name">
    </runner>
    <runner
          defaultCommandLine="${runnerExecutablePath} ${outputFilePath}"
          hardware="NES"
          homePageURL="https://www.qmtpro.com/~nes/nintendulator"
          id="nintendulator"
          name="%com.wudsn.ide.lng.run.nes.nintendulator.name">
    </runner>
 </extension>
</plugin>
