<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="pas"
            id="com.wudsn.ide.pas.compiler.PascalSourceFile"
            name="%com.wudsn.ide.pas.compiler.PascalSourceFile.name">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.wudsn.ide.pas.compiler.PascalSourceFile"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="com.wudsn.ide.lng.pas.editor.PascalReconciler"
            contentType="com.wudsn.ide.pas.compiler.PascalSourceFile">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="com.wudsn.ide.lng.pas.editor.PascalHoverProvider"
            contentType="com.wudsn.ide.pas.compiler.PascalSourceFile">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="com.wudsn.ide.lng.pas.editor.PascalContentAssistProcessor"
            contentType="com.wudsn.ide.pas.compiler.PascalSourceFile">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            contentTypeId="com.wudsn.ide.pas.compiler.PascalSourceFile"
            extensions="pas"
            class="com.wudsn.ide.lng.pas.editor.ValidatorDocumentSetupParticipant">
      </participant>
   </extension>

</plugin>
