<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.wudsn.ide.lng.preferences.LanguagesPreferencesPage"
            class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
            id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
            name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage.name">
      </page>
   </extension>
   
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
          class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesApple2CompilersPage"
          id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesApple2CompilersPage"
          name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesApple2CompilersPage.name">
    </page>
    <page
          category="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
          class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari8CompilersPage"
          id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari8CompilersPage"
          name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari8CompilersPage.name">
    </page>
    <page
          category="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
          class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari2600CompilersPage"
          id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari2600CompilersPage"
          name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari2600CompilersPage.name">
    </page>
    <page
          category="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
          class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari7800CompilersPage"
          id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtar7800CompilersPage"
          name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesAtari7800CompilersPage.name">
    </page>
    <page
          category="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
          class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesC64CompilersPage"
          id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesC64CompilersPage"
          name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesC64CompilersPage.name">
    </page>
    <page
          category="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesPage"
          class="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesNESCompilersPage"
          id="com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesNESCompilersPage"
          name="%com.wudsn.ide.lng.asm.preferences.AssemblerPreferencesNESCompilersPage.name">
    </page>
 </extension>
	<extension point="com.wudsn.ide.lng.compilers">
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.acme.AcmeCompiler"
        defaultHardware="C64"
        defaultParameters="-f cbm -o ${outputFilePath} ${sourceFilePath} "
        helpDocumentPaths="./docs"
        homePageURL="https://sourceforge.net/projects/acme-crossass"
        id="acme"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.acme.AcmeCompiler.name"
        version="0.90 (preview)">
     <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS65C02">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
     <supportedTarget
           target="MOS65816">
     </supportedTarget>
    
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.asm6.Asm6Compiler"
        defaultHardware="NES"
        defaultParameters=" ${sourceFilePath}  ${outputFilePath}"
        helpDocumentPaths="./README.TXT"
        homePageURL="http://3dscapture.com/NES/asm6.zip"
        id="asm6"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.asm6.Asm6Compiler.name"
        version="1.6">
     <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.atasm.AtasmCompiler"
        defaultHardware="ATARI8BIT"
        defaultParameters="-s -o${outputFilePath} -l${outputFilePathWithoutExtension}.lab ${sourceFilePath}"
        helpDocumentPaths="./docs/atasm.pdf"
        homePageURL="http://atari.miribilist.com/atasm"
        id="atasm"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.atasm.AtasmCompiler.name"
        version="1.07">
             <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
		</compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.dasm.DasmCompiler"
        defaultHardware="ATARI2600"
        defaultParameters="${sourceFilePath} -o${outputFilePath} -f3 -v5 -s${outputFilePathWithoutExtension}.sym -l${outputFilePathWithoutExtension}.lst"
        helpDocumentPaths="../doc/dasm.TXT"
        homePageURL="http://dasm-dillon.sourceforge.net"
        id="dasm"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.dasm.DasmCompiler.name"
        version="2.20.10 (preview)">
     <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.kickass.KickAssCompiler"
        defaultHardware="C64"
        defaultParameters="-o ${outputFilePath} ${sourceFilePath} "
        helpDocumentPaths="./KickAssembler.pdf"
        homePageURL="http://www.theweb.dk/KickAssembler"
        id="kickass"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.kickass.KickAssCompiler.name"
        version="V3.21 (preview)">
     <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_DTV">
     </supportedTarget>
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.mads.MadsCompiler"
        defaultHardware="ATARI8BIT"
        defaultParameters=" ${sourceFilePath} -o:${outputFilePath} -p -t:${outputFilePathWithoutExtension}.lab -l:${outputFilePathWithoutExtension}.lst "
        helpDocumentPaths="./doc/mads-eng.html, ./doc/mads-en.html (en), ./doc/mads.html (pl)"
        homePageURL="http://mads.atari8.info"
        id="mads"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.mads.MadsCompiler.name"
        version="1.9.0">
             <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
     <supportedTarget
           target="MOS65816">
     </supportedTarget>
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32Compiler"
        defaultHardware="APPLE2"
        defaultParameters="-V  ${sourceFilePath}"
        helpDocumentPaths="../Documentation/Merlin32.pdf"
        homePageURL="http://www.brutaldeluxe.fr/products/crossdevtools/merlin/index.html"
        id="merlin32"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32Compiler.name"
        version="1.0">
     <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS65C02">
     </supportedTarget>
     <supportedTarget
           target="MOS65816">
     </supportedTarget>
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.tass.TassCompiler"
        defaultHardware="C64"
        defaultParameters="-o ${outputFilePath} ${sourceFilePath} "
        helpDocumentPaths="./README"
        homePageURL="http://tass64.sourceforge.net"
        id="tass"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.tass.TassCompiler.name"
        version="1.46 r38 (preview)">
             <supportedTarget
           target="MOS6502">
     </supportedTarget>
     <supportedTarget
           target="MOS6502_ILLEGAL">
     </supportedTarget>
     <supportedTarget
           target="MOS65C02">
     </supportedTarget>
     
  </compiler>
  <compiler
        class="com.wudsn.ide.lng.asm.compiler.xasm.XasmCompiler"
        defaultHardware="ATARI8BIT"
        defaultParameters="/o:${outputFilePath} /p /t:${outputFilePathWithoutExtension}.lab /l:${outputFilePathWithoutExtension}.lst ${sourceFilePath}"
        helpDocumentPaths="./xasm.html"
        homePageURL="https://github.com/pfusik/xasm"
        id="xasm"
        language="ASM"
        name="%com.wudsn.ide.lng.asm.compiler.xasm.XasmCompiler.name"
        version="3.0.2">
             <supportedTarget
           target="MOS6502">
     </supportedTarget>
		</compiler>

	</extension>

	<extension
       id="Atari 2600 content types"
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
          file-extensions="a"
          id="com.wudsn.ide.lng.asm.compiler.acme.AcmeSourceFile"
          name="%com.wudsn.ide.lng.asm.compiler.acme.AcmeSourceFile.name"
          priority="normal">
    </content-type>
    <content-type
          base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
          file-extensions="asm"
          id="com.wudsn.ide.lng.asm.compiler.asm6.Asm6SourceFile"
          name="%com.wudsn.ide.lng.asm.compiler.asm6.Asm6SourceFile.name"
          priority="normal">
    </content-type>
  <content-type
        base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
        file-extensions="asm"
        id="com.wudsn.ide.lng.asm.compiler.atasm.AtasmSourceFile"
        name="%com.wudsn.ide.lng.asm.compiler.atasm.AtasmSourceFile.name"
        priority="normal">
  </content-type>
  <content-type
        base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
        file-extensions="asm"
        id="com.wudsn.ide.lng.asm.compiler.dasm.DasmSourceFile"
        name="%com.wudsn.ide.lng.asm.compiler.dasm.DasmSourceFile.name"
        priority="normal">
  </content-type>
    <content-type
          base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
          file-extensions="asx"
          id="com.wudsn.ide.lng.asm.compiler.kickass.KickAssSourceFile"
          name="%com.wudsn.ide.lng.asm.compiler.kickass.KickAssSourceFile.name"
          priority="normal">
    </content-type>
    <content-type
          base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
          file-extensions="s"
          id="com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32SourceFile"
          name="%com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32SourceFile.name"
          priority="high">
    </content-type>
  <content-type
        base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
        file-extensions="asm"
        id="com.wudsn.ide.lng.asm.compiler.mads.MadsSourceFile"
        name="%com.wudsn.ide.lng.asm.compiler.mads.MadsSourceFile.name"
        priority="high">
  </content-type>
    <content-type
          base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
          file-extensions="asm"
          id="com.wudsn.ide.lng.asm.compiler.tass.TassSourceFile"
          name="%com.wudsn.ide.lng.asm.compiler.tass.TassSourceFile.name"
          priority="normal">
    </content-type>
    <content-type
          base-type="com.wudsn.ide.lng.asm.compiler.AssemblerSourceFile"
          file-extensions="asx"
          id="com.wudsn.ide.lng.asm.compiler.xasm.XasmSourceFile"
          name="%com.wudsn.ide.lng.asm.compiler.xasm.XasmSourceFile.name"
          priority="normal">
    </content-type>
	</extension>

	<extension
       id="Atari 2600 editors"
       point="org.eclipse.ui.editors">
    <editor
          class="com.wudsn.ide.lng.asm.compiler.acme.AcmeEditor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="true"
          extensions="a"
          icon="icons/editor-acme-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.acme.AcmeEditor"
          name="%com.wudsn.ide.lng.asm.compiler.acme.AcmeEditor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.acme.AcmeSourceFile">
       </contentTypeBinding>
    </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.asm6.Asm6Editor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="false"
          extensions="asm"
          icon="icons/editor-asm6-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.asm6.Asm6Editor"
          name="%com.wudsn.ide.lng.asm.compiler.asm6.Asm6Editor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.asm6.Asm6SourceFile">
       </contentTypeBinding>
    </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.atasm.AtasmEditor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="false"
          extensions="asm"
          icon="icons/editor-atasm-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.atasm.AtasmEditor"
          name="%com.wudsn.ide.lng.asm.compiler.atasm.AtasmEditor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.atasm.AtasmSourceFile">
       </contentTypeBinding>
    </editor>
  <editor
        class="com.wudsn.ide.lng.asm.compiler.dasm.DasmEditor"
        contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
        default="false"
        extensions="asm"
        icon="icons/editor-dasm-16x16.gif"
        id="com.wudsn.ide.lng.asm.compiler.dasm.DasmEditor"
        name="%com.wudsn.ide.lng.asm.compiler.dasm.DasmEditor.name">
     <contentTypeBinding
           contentTypeId="com.wudsn.ide.lng.asm.compiler.dasm.DasmSourceFile">
     </contentTypeBinding>
  </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.kickass.KickAssEditor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="true"
          extensions="asm"
          icon="icons/editor-kickass-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.kickass.KickAssEditor"
          name="%com.wudsn.ide.lng.asm.compiler.kickass.KickAssEditor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.kickass.KickAssSourceFile">
       </contentTypeBinding>
    </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.mads.MadsEditor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="true"
          extensions="asm"
          icon="icons/editor-mads-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.mads.MadsEditor"
          name="%com.wudsn.ide.lng.asm.compiler.mads.MadsEditor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.mads.MadsSourceFile">
       </contentTypeBinding>
    </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32Editor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="false"
          extensions="s"
          icon="icons/editor-merlin32-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32Editor"
          name="%com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32Editor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.merlin32.Merlin32SourceFile">
       </contentTypeBinding>
    </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.tass.TassEditor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="false"
          extensions="asm"
          icon="icons/editor-tass-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.tass.TassEditor"
          name="%com.wudsn.ide.lng.asm.compiler.tass.TassEditor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.tass.TassSourceFile">
       </contentTypeBinding>
    </editor>
    <editor
          class="com.wudsn.ide.lng.asm.compiler.xasm.XasmEditor"
          contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
          default="true"
          extensions="asx"
          icon="icons/editor-xasm-16x16.gif"
          id="com.wudsn.ide.lng.asm.compiler.xasm.XasmEditor"
          name="%com.wudsn.ide.lng.asm.compiler.xasm.XasmEditor.name">
       <contentTypeBinding
             contentTypeId="com.wudsn.ide.lng.asm.compiler.xasm.XasmSourceFile">
       </contentTypeBinding>
    </editor>
  </extension>
 
</plugin>
